dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
/chromedriver
/TAGS
/selenium-server-standalone-2.42.2.jar
.*.swp
hakyll-frontent/_cache
hakyll-frontent/_site
hakyll-frontent/lastMatches.markdown
hakyll-frontent/breaks
hakyll-frontent/rivalries
logs
bower_components
node_modules
.psci_modules
frontend-new/output
frontend-new/tmp
