<div class="breakContainer">
  <h2>Alle Spiele</h2>
<ul>
    $for(all)$
            <li><a href="$url$">$title$</a></li>
    $endfor$
</ul>
</div>

<div class="breakContainer">
  <h2>Letzten 100</h2>
<ul>
    $for(hundred)$
            <li><a href="$url$">$title$</a></li>
    $endfor$
</ul>
</div>

<div class="breakContainer">
  <h2>Letzten 50</h2>
<ul>
    $for(fifty)$
            <li><a href="$url$">$title$</a></li>
    $endfor$
</ul>
</div>

<div class="breakContainer">
  <h2>Letzten 30</h2>
<ul>
    $for(thirty)$
            <li><a href="$url$">$title$</a></li>
    $endfor$
</ul>
</div>

<div class="breakContainer">
  <h2>Letzten 20</h2>
<ul>
    $for(twenty)$
            <li><a href="$url$">$title$</a></li>
    $endfor$
</ul>
</div>

<div class="breakContainer">
  <h2>Letzten 10</h2>
<ul>
    $for(ten)$
            <li><a href="$url$">$title$</a></li>
    $endfor$
</ul>
</div>

<div class="clearer">&nbsp;</div>


<h2>Rivalries</h2>
<ul>
    $for(rivalries)$
            <li><a href="$url$">$title$</a></li>
    $endfor$
</ul>
</div>


